name: Cleanup Images

on:
    workflow_dispatch:
    schedule:
        - cron: '0 3 * * *'

permissions:
    packages: write

jobs:
    cleanup:
        name: Cleanup Old Images
        runs-on: ubuntu-latest
        steps:
            -   name: Prune untagged images
                uses: dataaxiom/ghcr-cleanup-action@v1
                with:
                    package: docker
                    token: ${{ secrets.GITHUB_TOKEN }}
                    # Keep only the 3 most recent untagged images, delete the rest
                    keep-n-untagged: 3
